body {
    background-color:#008000;
    color: #fff;
    text-align: center;
}

#header {
    margin: auto;
    width: 50%;
    border: 5px;
    padding: 10px;
}

.center {
    margin: auto;
    width: 50%;
    border: 3px;
    padding: 5px;
}

